---
type Props = {
  currentPage: "/" | "/about" | "/thoughts" | "/cv";
};

const { currentPage } = Astro.props;

const activeClasses = "border-b border-tertiary/50 text-primary";
const defaultClasses =
  "hover:text-primary cursor-pointer py-1 px-1 hover:transition-none transition-all font-mono leading-tight";
---

<header>
  <nav>
    <ul class="flex gap-6">
      <li>
        <a
          class={currentPage === "/"
            ? `${activeClasses} ${defaultClasses}`
            : `${defaultClasses} text-secondary`}
          href="/"
        >
          home</a
        >
      </li>
      <li>
        <a
          class={currentPage === "/about"
            ? `${activeClasses} ${defaultClasses}`
            : `${defaultClasses} text-secondary`}
          href="/about"
        >
          about</a
        >
      </li>
      <li>
        <a
          class={currentPage === "/thoughts"
            ? `${activeClasses} ${defaultClasses}`
            : `${defaultClasses} text-secondary`}
          href="/thoughts"
        >
          thoughts</a
        >
      </li>
      <li>
        <a
          class={currentPage === "/cv"
            ? `${activeClasses} ${defaultClasses}`
            : `${defaultClasses} text-secondary`}
          href="/cv"
        >
          cv</a
        >
      </li>
    </ul>
  </nav>
</header>
