---
type Props = {
  currentPage: "/" | "/about" | "/thoughts";
};

const { currentPage } = Astro.props;

const activeClasses = "border-b border-zinc-400/50 text-white";
const defaultClasses =
  "hover:text-white cursor-pointer py-1 px-1 hover:transition-none transition-all";
---

<header>
  <nav>
    <ul class="flex gap-6">
      <li>
        <a
          class={currentPage === "/"
            ? `${activeClasses} ${defaultClasses}`
            : `${defaultClasses} text-zinc-300`}
          href="/"
        >
          home</a
        >
      </li>
      <li>
        <a
          class={currentPage === "/about"
            ? `${activeClasses} ${defaultClasses}`
            : `${defaultClasses} text-zinc-300`}
          href="/about"
        >
          about</a
        >
      </li>
      <li>
        <a
          class={currentPage === "/thoughts"
            ? `${activeClasses} ${defaultClasses}`
            : `${defaultClasses} text-zinc-300`}
          href="/thoughts"
        >
          thoughts</a
        >
      </li>
    </ul>
  </nav>
</header>
